body {
  background-color: var(--background-color);

  & > main {
    min-height: 84vh;

    display: grid;
    grid-template-columns: clamp(60ch, 50%, 50%) 1fr;
    grid-template-rows: 1fr;

    & > section {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}


h1,
h2 {
  color: white;
}

h1 {
  font-size: 6rem;
}

button {
  padding: 0.5rem 1rem;
  width: fit-content;
  height: fit-content;

  font-family: 'Patrick Hand';

  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 1rem;
  color: white;
}

#spider-i {
  position: absolute;
  top: 0vh;
  right: 25vh;
}