header {
  position: sticky;
  height: 8vh;
  padding-inline: 1rem;

  display: grid;
  grid-template-columns: 1fr [content-start] 60ch [content-end] 1fr;
  flex-direction: row;
  align-items: center;

  font-family: 'Patrick Hand';

  & > h1 {
    grid-column-start: 1;
  }

  & > nav {
    justify-self: flex-end;

    display: flex;
    flex-direction: row;
    flex-grow: 2;
    gap: 2rem;
    align-items: center;

    & > a {
      font-size: 1.5rem;
      color: white;
      text-decoration: none;
    }
  }

  .logout-button {
    font-size: 1em;
    cursor: pointer;
  }

  .logout-button:hover {
    background-color: azure;
    background-color: rgba(74,100,120,255);
  }
}